# Top 20 Python Operator Concepts with Easy Case Study Problems

## ðŸ”° Prior Basic Concepts
#### Before working with operators, students should understand:
##### - Variables and Data Types
##### - Input/Output (input(), print())
##### - Basic syntax and indentation in Python

#### 1. Assignment Operator (=)
Concept: Assigns a value to a variable.
Case: A store owner wants to assign the number of apples in stock.

In [1]:
apples=45
print('applesin the stock',apples)

applesin the stock 45

#### 2. Addition Operator (+)
Concept: Adds two numbers.
Case: A student bought 2 pens and 3 pencils. Find the total items

In [2]:
pens=2
pencils=3
print('total items: ',pens+pencils)

total items:  5

#### 3. Subtraction Operator (-)
Concept: Subtracts one number from another.
Case: A student had 10 chocolates and gave 3 to a friend.

In [3]:
chocolates=10
donate=3
print("reamaing chocolets",chocolates-donate)

reamaing chocolets 7

#### 4. Multiplication Operator (*)
Concept: Multiplies numbers.
Case: One pack has 5 pens. Calculate pens in 4 packs

In [4]:
singlepack=5
no_of_packs=4
print('pens in 4 packs',singlepack*no_of_packs)

pens in 4 packs 20

#### 5. Division Operator (/)
Concept: Divides numbers and gives float.
Case: Split 20 rupees equally among 4 friends.

In [5]:
money=20
donate=4
print('deviding 20 rupees in 4 friends, each one have',money/donate)

deviding 20 rupees in 4 friends, each one have 5.0

#### 6. Floor Division Operator (//)
Concept: Returns the integer part of division.
Case: Distribute 19 candies among 4 kids

#### 7. Modulus Operator (%)
Concept: Gives remainder of division.
Case: Find leftover candies when 19 are divided among 4 kids.

In [6]:
candy=19
kids=4
print('candies per kid is: ',candy//kids,'candy will remains',candy%kids)

candies per kid is:  4 candy will remains 3

#### 8. Exponentiation Operator (**)
Concept: Raises one number to the power of another.
Case: A student wants to find 2 raised to the power 3.

In [7]:
print(2**3)

8

#### 9. Equal To (==)
Concept: Compares if two values are equal.
Case: Check if two entered PINs match.

In [8]:
pin=input()
re_enter=input()
if pin==re_enter:
    print('pin match')

 1234
 1234

pin match

#### 10. Not Equal To (!=)
Concept: Checks inequality.
Case: Verify if user input is not a banned word.

In [9]:
pin=input()
re_enter=input()
if pin!=re_enter:
    print('pin not match')

 1234
 2345

pin not match

#### 11. Greater Than (>)
Concept: Checks if left value is greater.
Case: Check if a student scored more than 40 marks

In [10]:
marks=54
print('student pass-',marks>40)

student pass- True

#### 12. Less Than (<)
Concept: Checks if left value is smaller.
Case: Check if a product price is below â‚¹100.

In [11]:
price=99
print("elligible for the discount",price<100)

elligible for the discount True

#### 13. Greater Than or Equal To (>=)
Concept: Checks if left value is greater or equal.
Case: Free delivery if order is â‚¹500 or more

In [13]:
price=555
print("elligible for the discount",price>=500)

elligible for the discount True

#### 14. Less Than or Equal To (<=)
Concept: Checks if left value is smaller or equal.
Case: Student passes if score is less than or equal to 100.

In [14]:
score=98
print("student passe",score<=100)

student passe True

#### 15. Logical AND (and)
Concept: True only if both conditions are true.
Case: A student gets scholarship if marks > 80 and income < 2 lakh

In [15]:
marks=94
income=1.5
print('elligible for scolarship',marks>80 and income<2.0)

elligible for scolarship True

#### 16. Logical OR (or)
Concept: True if at least one condition is true.
Case: Entry allowed if passcode is 1234 or 5678.

In [17]:
passcode1=1234
passcode2=5678
print('user allowed',passcode1==1234 or passcode2==5678)

user allowed True

#### 17. Logical NOT (not)
Concept: Reverses condition.
Case: Deny access if user is not admin.

In [18]:
usr = input("enter user nmae")
print(" not allowed", not usr=="admin")

enter user nmae admin

 not allowed False

#### 18. Compound Assignment (+=, -=, etc.)
Concept: Update variable using itself and an operator.
Case: Add 10 bonus points to a score.

In [19]:
score=80
score+=10
print('extra points added',score)

extra points added 90

#### 19. Identity Operator (is, is not)
Concept: Checks object identity.
Case: Check if two empty lists are the same object.

In [20]:
list1=[]
list2=[]
print(list1 is list2)

False

#### 20. Membership Operator (in, not in)
Concept: Checks if value is in a collection.
Case: Check if 'apple' is in the shopping list.

In [21]:
list=['apple','banana','cherry','carrot']
print('apple' in list)

True