### Total Marks Calculator
A teacher wants to calculate the total marks of 5 students. The marks are stored in a list. Write a Python function to calculate and return the total.

In [1]:
marks=[86,67,98,56,87]
print(sum(marks))

394

### Pass or Fail Checker
Given a list of student scores, write a function to print "Pass" if score is above 40, otherwise "Fail", using if-else and loop.

In [7]:
def check(marks):
    for i in marks:
        if i<=40:
            print('fail')
        else:
            print('pass')

marks=[86,67,98,56,87]
check(marks)

pass
pass
pass
pass
pass

### Tuple to List Converter
Take a tuple of fruits and convert it into a list using a loop. Then add a new fruit to the list.

In [9]:
tuple = ('apple','banana')

list=[]
for i in tuple:
    list.append(i)

list.append('grape')

print("tuple- ",tuple)
print("list- ",list)

tuple-  ('apple', 'banana')
list-  ['apple', 'banana', 'grape']

### Find the Maximum Number
Write a function to find the maximum number from a list without using the max() function.

In [11]:
nums=[86,67,98,56,87]
maxi=-99999
for num in nums:
    if maxi<num:
        maxi=num

print(maxi)

98

### Count Even and Odd Numbers
Create a function that takes a list of integers and counts how many are even and how many are odd.

In [13]:
nums=[86,67,98,56,87]
even=0
odd=0
for num in nums:
    if num%2==0:
        even+=1
    else:
        odd+=1

print('even',even)
print('odd',odd)

even 3
odd 2

### Duplicate Remover from List
A student accidentally added the same number multiple times. Write a function that removes duplicates from the list.

In [22]:
import builtins
list1=[1,1,2,2,3,3,3,3,4,5,6,7,7,7]
list2=builtins.list(set(list1))

print(list2)

[1, 2, 3, 4, 5, 6, 7]

### Sort Tuple of Marks
Given a tuple of marks, write a function to convert it to a list, sort it, and then convert it back to a tuple.

### Grade Distributor
Given a list of marks, write a program that assigns grades:

A: 90+, B: 70–89, C: 50–69, F: below 50

### Reverse List Without Built-in Function
Reverse a list manually using a loop.

### Sum of Nested List
Write a function to sum all integers inside a nested list like: [[1, 2], [3, 4], [5]].

### Tuple of Top 3 Scores
Write a function that takes a list of scores and returns a tuple of top 3 highest scores using loop logic only.

### List Rotation Logic
Rotate a list to the left by k positions using loop (e.g., [1,2,3,4,5] rotated by 2 → [3,4,5,1,2]).

### Marks Statistics Function
Given a list of marks, write a function that returns a tuple: (max_marks, min_marks, average_marks).

### Search Word and Its Count
Given a paragraph split into a list of words, search for a particular word and return how many times it appeared.


### Zip Two Lists into Tuple List Without zip()
Take two lists of equal length (e.g., names and marks) and manually combine them into a list of tuples: [(name, mark)].