## 1. Create a set of 5 unique numbers. Add a new number to the set and print the updated set.

In [28]:
set1={1,2,3,4,5}
print(set1)
set1.add(6)
print(set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

## 2. Write a program to find the union of two sets: {1, 2, 3} and {3, 4, 5}

In [29]:
set1={1,2,3}
set2={3,4,5}

print(set1 | set2)

{1, 2, 3, 4, 5}

## 3. Create a dictionary with names as keys and ages as values. Print the age of a specific person.

In [30]:
dict1={
    'karan':31,
    "aditya":21,
    'Bankai':34
}

print(dict1['Bankai'])

34

## 4. Check if a given key exists in a dictionary. If not, add it with a default value.

In [31]:
dict1={
    'karan':31,
    "aditya":21,
    'Bankai':34
}
print(dict1['bankai'] if 'bankai' in dict1 else dict1.update({'bankai':None}))
print(dict1)

None
{'karan': 31, 'aditya': 21, 'Bankai': 34, 'bankai': None}

## . 5. Remove a specific item from a set and display the updated set.

In [32]:
set1={1,2,3,4,5}
print(set1)
set1.discard(4)
print(set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

## 6. Write a program to count the number of times each word appears in a sentence using a dictionary.

In [19]:
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to C:\Users\ADITYA
[nltk_data]     PAWAR\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to C:\Users\ADITYA
[nltk_data]     PAWAR\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [33]:
from nltk.tokenize import word_tokenize

sentence = "The quick brown fox jumps over the lazy dog, over the lazy dog, over the lazy dog"

words = word_tokenize(sentence)
dict1 = {}
for word in words:
    if word.isalpha():
        if word in dict1:
            dict1[word] += 1
        else:
            dict1[word] = 1

print(dict1)

{'The': 1, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 3, 'the': 3, 'lazy': 3, 'dog': 3}

## 7. Create a set with duplicate values and print the set to show that duplicates are not allowed.

In [34]:
set1={1,2,3,4,5,1,2,4,5,7,8,8,8}
print(set1)

{1, 2, 3, 4, 5, 7, 8}

## 8. Merge two dictionaries into one and print the result.

In [35]:
dict1={
    'karan':31,
    "aditya":21,
    'Bankai':34
}

dict2={
    'aran':31,
    "adityaa":21,
    'Bankaii':34
}

dict1.update(dict2)
print(dict1)

{'karan': 31, 'aditya': 21, 'Bankai': 34, 'aran': 31, 'adityaa': 21, 'Bankaii': 34}

## 9. Use a dictionary to store student names and their scores. Calculate the average score

In [36]:
sum=0
for key,value in dict1.items():
    sum+=value

print(sum/len(dict1))

28.666666666666668

## 10. Write a program to find the intersection of two sets: {'apple', 'banana', 'cherry'} and {'banana', 'cherry', 'date'}

In [37]:
dict1={'apple', 'banana', 'cherry'}
dict2={'banana', 'cherry', 'date'}

print(dict1 & dict2)

{'cherry', 'banana'}